<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan department">
	<test thread-count="5" name="Personal loan">
		<classes>
			<class name="test.day1" />
			<class name="test.day2" />
			<class name="test.day4" />
		</classes>
	</test>
	<test thread-count="5" name="Car loan">
		<classes>
			<class name="test.day3" >
				<methods>
					<exclude name="MobileLoginCarLoan"/>
				</methods> 	
			</class> 
		</classes>
	</test>
</suite>
