<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
	<parameter name="URL" value="https://qaclickacademy.com/" />
	<test name="Personal loan">
		<parameter name="URL" value="personal_loan.com" />
		<classes>
			<class name="test.day1">
				<methods>
					<include name="Demo" />
				</methods>
			</class>
			<class name="test.day2" />
			<class name="test.day4" />
		</classes>
	</test>
	<test name="Car Loan">
		<classes>
			<class name="test.day3">
				<methods>
					<exclude name="API.*" />
				</methods>
			</class>
		</classes>
	</test>
</suite>